@import "tailwindcss";

@font-face {
  font-family: "BigShoulders";
  src: url("../assets/fonts/BigShoulders.woff2") format("woff2");
}

@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit.woff2") format("woff2");
}

@theme {
  /* Fuentes */
  --font-titulos: "BigShoulders";
  --font-serif: "Outfit";

  /* Colores */
  --color-accent: #d5966c;
  --color-secundary: #151515;
  --color-primary: #444444;
  --color-background: #FFFFFF;
}
